<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
        <form #editUserForm= "ngForm" (ngSubmit)=" editUser()">
          <img src="{{ url +'obtener-imagen-usuario/' + user.image}}" class="rounded-circle" width="200" height="200" *ngIf="user.image">
            <img src="http://assets.stickpng.com/thumbs/585e4beacb11b227491c3399.png" class="rounded-circle" width="200" height="200" *ngIf="!user.image">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" class="form-control" id="nombre" placeholder="Enter nombre">
            </div>
            <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellido" class="form-control" id="apellido" placeholder="Enter apellido">
            </div>
            <div class="form-group">
              <label for="nick">Nick:</label>
              <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" id="nick" placeholder="Enter nick">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address:</label>
              <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="fileChangeEvent($event)">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
</div>
